* {
  font-family: Roboto,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.relatedProducts {
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
  padding: 15px;
}

.relatedProducts span {
  top:3vh;
  position: relative;
  color: rgb(56, 56, 56);
  font-family: Roboto,Arial,sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  user-select: none;
  left: 2%;
}

li.productGrid {
  list-style: none;
  border:1px solid lightgray;
  height: 40vh;
  width: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}

ul.productUl {
  max-width: 65vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  top: 3vh;
}

@media only screen and (max-width: 1400px) {
  ul.productUl {
    grid-template-columns: repeat(4, 1fr);
  }
  li.productGrid {
    width: 16.5vw;
  }
}

li.productGrid:hover {
  border: 1px solid #1564C0;
}

li.productGrid img {
  display: block;
  margin: 0 auto;
}

.cartButton {
  width: 100%;
  left: 0;
  position: absolute;
  background: #2196F3;
  color: white;
  height: 4.5vh;
  border: none;
  bottom: 0;
  cursor: pointer;
  text-indent: 20px;
  display: none;
}

.cartButton:hover {
  background-color: #5caef1;
  color: white;
  border-top:    1px solid #2196F3;
  border-right:  1px solid #2196F3;
  border-left:   1px solid #2196F3;
}

.designProducts {
  position: relative;
  height: 100%;
}

.buttonSvg {
  float: left;
  background: #1565BE;
  height: 11.2%;
  width: 20%;
  position: absolute;
  bottom: 0;
  z-index: 9999;
  color: white;
  display: none;
  text-align: center;
}

.shipping {
  background-color: rgb(206, 205, 205);
  color: gray;
  width: 110px;
  height: 5%;
  border-radius: 2px;
  margin: 0px 25% 7%;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}

.shipping label {
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  font-size: 11px;
}

.designProducts:hover .cartButton , .designProducts:hover .buttonSvg {
  cursor: pointer;
  display: block;
}

.allRelated {
  float: right;
  font-size: 15px !important;
  color: #1565BE !important;
  top: 4vh !important;
}