.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 1px 1px #ccc;
  width: 85vw;
  min-width: 300px;
  background-color: #1564C0;
  color: white;
  margin: 0 auto;
}

.logo {
  background-image: url("../src/assets/vatan-computer-logo.png");
  height: 45px;
  width: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 8%;
  position: relative;
}

.categoryBut {
  font-family: Roboto,Arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 23%;
  margin-left: 2%;
  float: left;
  background: transparent;
  color: white;
  border: none;
}

@media only screen and (max-width: 1400px) {
  .categoryBut {
    left: 24.5%;
  }
}

.account {
  font-family: Roboto,Arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  color: white;
  border: none;
}

.ant-btn {
  height: 40px;
}

.cartBadge {
  font-size: 20px;
  color: white;
  vertical-align: -0.125em;
  text-align: center;
  right: 5px;
}

.ant-btn:hover .cartBadge {
  color: #1890ff;
}

.ant-badge-count {
  width: 15px;
  height: 15px;
  padding: 0 3px;
  font-size: 10px;
  line-height: 15px;
  min-width: 15px;
}